ALICE_PASSWORD=alice_password_here
BOB_PASSWORD=bob_password_here
BOB_MNEMONIC=bob_mnemonic_seed_phrase_here

BITCOIND_RPC_HOST=localhost
BITCOIND_RPC_PORT=18443
BITCOIND_RPC_USERNAME=user
BITCOIND_RPC_PASSWORD=password
INDEXER_URL=127.0.0.1:50001
PROXY_ENDPOINT=rpc://127.0.0.1:3000/json-rpc